/*CSS file for styling the website*/
/* Website Styling */

/*Navigation Styling*/

.nav {
   background-color: #926551;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar {
  padding: 15px;
  text-align: left;
}

/*Body Styling*/
body {
  background-color: #E9AFAD;
  background-image: url("Images/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  margin: 0;
padding: 10px;
font-style: italic;
font-family:Georgia, 'Times New Roman', Times, serif; }

/*Heading Styling*/
    .sub-heading {
   color:purple; 
  }

     .header{
   text-align:center;
  font-size:34px;
  padding: 25px;
  border-radius:20px;
  background-color:#926551;
  display:block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  color:#F3D3C9;
}

